
@import '../../components/variables.css';

@import 'react-toolbox/lib/card/theme.css';
@import 'react-toolbox/lib/chip/theme.css';
@import 'react-toolbox/lib/avatar/theme.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.groupWrapper{
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  display: inline-block;
  margin: 10px;
}

.chip{
  padding: 0px;
  margin: 10px;
  padding-right: 10px;
  .avatar{
    margin-right: 10px;
  }
}
