
@import '../../components/variables.css';

@import 'react-toolbox/lib/card/theme.css';
@import 'react-toolbox/lib/chip/theme.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.card{
  width: 300px;
  display: inline-block;
  margin: 10px;
}

.avatar{
  width: 50px;
  border-radius: 100%;
  img{
    width: 100%;
  }
}
